
.conversion {
  width: 600px;
  margin: auto;
}

input {
  font-size: 24px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 4px solid rgba(200,200,200,1);
  display: block;
  margin: 50px auto;
  width: 100%;
}
